@import "../../styles/variables.scss";

.wrapper {
  width: 100%;
  height: auto;
  margin: 40px auto;
  padding: 80px 20px;
  background-image: url("../../assets/home-about-2.png");
  background-position: center;
  background-size: 115% 100%;
  background-repeat: no-repeat;
  .heading {
    width: 95%;
    margin: 20px auto;
    font-weight: 400;
    font-size: 50px;
    color: $light;
    @media (max-width: $xl) {
      width: 99%;
    }
    @media (max-width: $lg) {
      font-size: 40px;
    }
  }
}

.form__map {
  width: 95%;
  margin: 0 auto;
  display: grid;
  // align-items: center;
  justify-content: space-evenly;
  gap: 40px;
  grid-template-columns: 7fr 5fr;
  @media (max-width: $xl) {
    width: 99%;
  }
  @media (max-width: $md) {
    grid-template-columns: 1fr;
  }
  .map {
    min-height: 450px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__iframe {
      width: 100%;
      height: calc(100% - 70px);
      background-color: $grey;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      p {
        font-weight: 600;
        color: $light;
        font-size: 28px;
        text-align: center;
        @media (max-width: $sm) {
          font-size: 16px;
        }
      }
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
      }
    }
    .map__footer {
      width: 100%;
      height: 70px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 20px;
      background-color: $primary;
      color: $light;
      @media (max-width: $sm) {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 0px;
        column-gap: 25px;
      }
      a {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 18px;
        @media (max-width: $lg) {
          font-size: 14px;
        }
        i {
          font-size: 18px;
        }
      }
    }
  }

  .form {
    display: flex;
    padding: 20px 25px;
    background: hsla(0, 0%, 22%, 0.8);
    border-radius: 20px;
    flex-direction: column;
    // justify-content: space-between;
    // align-items: center;
    gap: 20px;
    &__heading {
      font-size: 38px;
      color: $light;
    }
    .input__wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 15px;
      padding: 20px 0;
      height: 100%;
      border: 1px solid $grey;
      border-left: none;
      border-right: none;
      & > * {
        outline: none;
        border: none;
        border-radius: 10px;
        width: 100%;
        padding: 15px 25px;
        font-weight: 400;
        font-size: 16px;
      }
      textarea {
        height: 150px;
        resize: none;
      }
    }
    button {
      cursor: pointer;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      color: $light;
      font-size: 20px;
      background-color: $primary;
      border: none;
      border-radius: 10px;
      padding: 20px;
      @media (max-width: $lg) {
        font-size: 18px;
      }
    }
  }
}
