@import "../../styles/variables.scss";
.dropdown {
	position: relative;
	display: block;
	button {
		color: $light;
		display: grid;
		place-items: center;
		font-size: 20px;
		font-weight: 300;
		text-transform: uppercase;
		text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.884);
		cursor: pointer;
		background: none;
		border: none;
		outline: none;
	}
}

.dropdown-content {
	padding: 0px 15px 10px;
	display: none;
	position: absolute;
	top: calc(100% + 5px);
	left: 0;
	// background: #acf4ffc6;
	backdrop-filter: blur(10px);
	width: max-content;
	box-shadow: 0px 2px 5px 0px #0000009e;
	box-shadow: inset 0 0 15px #009d9d;
	z-index: 1;
	border-radius: 5px;
}

.dropdown-content span {
	color: $light;
	padding: 8px 12px;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
	&.active {
		color: $dark;
	}
}
.dropdown span {
	text-shadow: 0 0 5px #003e48;
}
.dropdown span:hover {
	// background: #acf4ff76;
	color: $primary;
}

.show {
	display: block;
}
