@import "../../styles/variables.scss";

.perfectWrapper {
	width: 100%;
	margin: 100px 0 0 0;
	background-image: url("../../assets/perfectback.png");
	background-size: cover;
	.perfect {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 0;
		&__left {
			width: 44%;
			color: white;
			h2 {
				width: 100%;
				margin: 0 0 1rem 0;
			}
			p {
				font-size: 18px;
				line-height: 24px;
			}
		}
		&__right {
			width: 44%;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}

@media (max-width: $xl) {
	.perfectWrapper {
		.perfect {
			&__left {
				width: 50%;
				p {
					font-size: 17px;
					line-height: 22px;
				}
			}
			&__right {
				width: 40%;
				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

@media (max-width: $lg) {
	.perfectWrapper {
		.perfect {
			&__left {
				p {
					font-size: 16px;
					line-height: 22px;
				}
			}
			&__right {
				width: 40%;
			}
		}
	}
}

@media (max-width: $md) {
	.perfectWrapper {
		.perfect {
			flex-direction: column;
			row-gap: 2rem;
			&__left {
				width: 80%;
				p {
					text-align: justify;
					font-size: 16px;
					line-height: 22px;
				}
			}
			&__right {
				width: 80%;
			}
		}
	}
}

@media (max-width: $xs) {
	.perfectWrapper {
		.perfect {
			&__left {
				width: 95%;
				p {
					text-align: justify;
					font-size: 15px;
					line-height: 21px;
				}
			}
			&__right {
				width: 95%;
			}
		}
	}
}
