@import "../../styles/variables.scss";
.dropdown {
  position: relative;
  display: block;
  button {
    color: $light;
    display: grid;
    place-items: center;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.884);
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
  }
}

.dropdown-content {
  padding: 0px 15px 10px;
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  background-color: #ccc;
  width: max-content;
  box-shadow: 0px 2px 5px 0px $dark;
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content span {
  color: $dark;
  padding: 8px 12px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  &.active {
    color: $primary;
  }
}

.dropdown span:hover {
  background-color: #ccc;
  color: $primary;
}

.show {
  display: block;
}
